In [125]:
# import required libraries
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd

In [163]:
url = "https://www.propertypro.ng/property-for-rent/in/lagos"   # define web url

# initiate driver
driver = webdriver.Chrome()
wait = WebDriverWait(driver, 20)
driver.get(url) # get html
nav_xpath = '//*[@id="nav"]'
wait.until(EC.presence_of_element_located((By.XPATH, nav_xpath)))
driver.execute_script("window.stop();") # stop loading page when specified element is visible

# # get web element of listigs
# listing = driver.find_element(By.CSS_SELECTOR, 'div.single-room-text')
# listing.get_attribute("outerHTML")
# title = listing.find_element(By.CSS_SELECTOR, 'h3.listings-property-title').text

# get html in bs4
soup = BeautifulSoup(driver.page_source, 'lxml')

In [137]:
# listing = soup.find_all('div', 'single-room-text')[26]
# title = listing.a.text
# location = listing.text.split('\n')[2]
# price_div = listing.find('div', 'n50').h3
# price_span = price_div.find_all('span')
# currency  = price_span[0]['content']
# amount = price_span[1].text
# date = listing.h5.text
# condition = listing.find('div', 'furnished-btn').text
# char = listing.find('div', 'fur-areea').find_all('span')
# beds = char[0].text
# baths = char[1].text
# toilet = char[2].text

In [165]:
TITLE = []
BEDS = []
BATHS = []
TOILETS = [] 
LOCATIONS = []
CONDITION = []
DATE = []

cards = soup.find_all('div', 'single-room-text')

for card in cards:
    title = listing.a.text
    location = listing.text.split('\n')[2]
    price_div = listing.find('div', 'n50').h3
    price_span = price_div.find_all('span')
    currency  = price_span[0]['content']
    amount = price_span[1].text
    date = listing.h5.text
    condition = listing.find('div', 'furnished-btn').text
    char = listing.find('div', 'fur-areea').find_all('span')
    beds = char[0].text
    baths = char[1].text
    toilet = char[2].text

    TITLE.append(title)
    BEDS.append(beds)
    BATHS.append(baths)
    TOILETS.append(toilet)
    LOCATIONS.append(location)
    CONDITION.append(condition)
    DATE.append(date)
    


len(TITLE)==len(BEDS)==len(BATHS)==len(TOILETS)==len(LOCATIONS)==len(CONDITION)==len(DATE)

True

In [166]:
data = pd.DataFrame({'Title': TITLE, 'Beds': BEDS,'Baths': BATHS, 'Toilet':TOILETS, 'Locations': LOCATIONS, 'Conditions':CONDITION, 'Date':DATE})
data.head()

,Title,Beds,Baths,Toilet,Locations,Conditions,Date
0,3 BEDROOM HOUSE FOR RENT,3 beds,4 baths,4 Toilets,Osapa London Lekki Lagos,\nServiced\nNewly Built\n,Added 09 Nov 2023
1,3 BEDROOM HOUSE FOR RENT,3 beds,4 baths,4 Toilets,Osapa London Lekki Lagos,\nServiced\nNewly Built\n,Added 09 Nov 2023
2,3 BEDROOM HOUSE FOR RENT,3 beds,4 baths,4 Toilets,Osapa London Lekki Lagos,\nServiced\nNewly Built\n,Added 09 Nov 2023
3,3 BEDROOM HOUSE FOR RENT,3 beds,4 baths,4 Toilets,Osapa London Lekki Lagos,\nServiced\nNewly Built\n,Added 09 Nov 2023
4,3 BEDROOM HOUSE FOR RENT,3 beds,4 baths,4 Toilets,Osapa London Lekki Lagos,\nServiced\nNewly Built\n,Added 09 Nov 2023

In [173]:
len(cards)

52

In [179]:
# listing = soup.find_all('div', 'single-room-text')[0]
cards[2]
title = listing.a.text
location = listing.text.split('\n')[2]
price_div = listing.find('div', 'n50').h3
price_span = price_div.find_all('span')
currency  = price_span[0]['content']
amount = price_span[1].text
date = listing.h5.text
condition = listing.find('div', 'furnished-btn').text
char = listing.find('div', 'fur-areea').find_all('span')
beds = char[0].text
baths = char[1].text
toilet = char[2].text

In [180]:
print(title, location, amount, date, condition, beds, baths,toilet)

 4 BEDROOM FLAT / APARTMENT FOR RENT  Old Ikoyi Ikoyi Lagos 16,000,000/year   Updated 08 Nov 2023, Added 01 Aug 2023
Serviced
 4 beds 4 baths 5 Toilets