In [28]:
import pandas as pd
import numpy as np

In [29]:
la1 = pd.read_csv("House_price.csv")
la1.head(2)

,Title,Title_URL,Image,ribbon,wpblockdateover,Content,voffsetbottom10,Field,Description,addedon,...,Mark1,Info,Info2,Info3,Info4,Info5,Info6,Info7,Info8,Avg_price
0,Luxuriously And Well Built 4 Bedroom Detached ...,https://nigeriapropertycentre.com/for-rent/hou...,https://images.nigeriapropertycentre.com/prope...,Premium Plus Listing,\n 25\n,4 bedroom house for rent,"Brentwood Estate By Meadow Hall., Ikate Eleg...",\nmassively well built\nin a well secured gate...,More details,Added on 15 Jul 2020,...,\n +234 808 192 6800,4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0,Parking Spaces,Save
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,https://nigeriapropertycentre.com/for-rent/hou...,https://images.nigeriapropertycentre.com/prope...,Premium Listing,\n 19\n,4 bedroom terraced duplex for rent,"Chevron Alternative, Lekki, Lagos",\nFor inspection pls call 08089633335/08168285...,More details,Added on 07 Sep 2020,...,\n 08089633335,4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN,NaN,Save

In [30]:
la1 = la1.drop([ 'Title_URL', 'Image','ribbon' , 'wpblockdateover' ,'Field', 'Description','addedon' , 'Mark1' , 'Avg_price', 'Info8'], axis= 'columns')

In [31]:
la1.head(2)

,Title,Content,voffsetbottom10,Price,period,Mark,Info,Info2,Info3,Info4,Info5,Info6,Info7
0,Luxuriously And Well Built 4 Bedroom Detached ...,4 bedroom house for rent,"Brentwood Estate By Meadow Hall., Ikate Eleg...","6,000,000",per annum,\nHighstreet Properties\n\n +234 808 192 6800 \n,4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,4 bedroom terraced duplex for rent,"Chevron Alternative, Lekki, Lagos","3,000,000",per annum,\nSeyix Property Solution Ventures\n\n 080896...,4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN

In [32]:
la1 = la1.drop(['Content', 'period', 'Mark'], axis = 'columns')

In [33]:
la1.head(5)

,Title,voffsetbottom10,Price,Info,Info2,Info3,Info4,Info5,Info6,Info7
0,Luxuriously And Well Built 4 Bedroom Detached ...,"Brentwood Estate By Meadow Hall., Ikate Eleg...","6,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"Chevron Alternative, Lekki, Lagos","3,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN
2,Furnished 5 Bedrooms Terrace With Swimming Pool,"Lekki Phase 1, Lekki, Lagos","5,000,000",5.0,Bedrooms,6.0,Bathrooms,5.0,Toilets,NaN
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,"2nd Toll Gate, Lekki Phase 2, Lekki, Lagos","4,000,000",4.0,Bedrooms,5.0,Bathrooms,4.0,Toilets,NaN
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,"Ikota Villa Estate, Ikota, Lekki, Lagos","4,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,3.0

In [34]:
la1['location'] = la1['voffsetbottom10']

In [35]:
la1.head(2)

,Title,voffsetbottom10,Price,Info,Info2,Info3,Info4,Info5,Info6,Info7,location
0,Luxuriously And Well Built 4 Bedroom Detached ...,"Brentwood Estate By Meadow Hall., Ikate Eleg...","6,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0,"Brentwood Estate By Meadow Hall., Ikate Eleg..."
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"Chevron Alternative, Lekki, Lagos","3,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN,"Chevron Alternative, Lekki, Lagos"

In [36]:
la1 = la1.drop('voffsetbottom10', axis = 'columns')
la1.head()

,Title,Price,Info,Info2,Info3,Info4,Info5,Info6,Info7,location
0,Luxuriously And Well Built 4 Bedroom Detached ...,"6,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0,"Brentwood Estate By Meadow Hall., Ikate Eleg..."
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"3,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN,"Chevron Alternative, Lekki, Lagos"
2,Furnished 5 Bedrooms Terrace With Swimming Pool,"5,000,000",5.0,Bedrooms,6.0,Bathrooms,5.0,Toilets,NaN,"Lekki Phase 1, Lekki, Lagos"
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,"4,000,000",4.0,Bedrooms,5.0,Bathrooms,4.0,Toilets,NaN,"2nd Toll Gate, Lekki Phase 2, Lekki, Lagos"
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,"4,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,3.0,"Ikota Villa Estate, Ikota, Lekki, Lagos"

In [37]:
la1[['Beds', 'Baths', 'Toilets']] = la1[['Info', 'Info3', 'Info5']]
la1.head(2)

,Title,Price,Info,Info2,Info3,Info4,Info5,Info6,Info7,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,"6,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,10.0,"Brentwood Estate By Meadow Hall., Ikate Eleg...",4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"3,000,000",4.0,Bedrooms,4.0,Bathrooms,5.0,Toilets,NaN,"Chevron Alternative, Lekki, Lagos",4.0,4.0,5.0

In [38]:
la1 = la1.drop(['Info', 'Info3', 'Info5'], axis = 'columns')
la1.head()

,Title,Price,Info2,Info4,Info6,Info7,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,"6,000,000",Bedrooms,Bathrooms,Toilets,10.0,"Brentwood Estate By Meadow Hall., Ikate Eleg...",4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"3,000,000",Bedrooms,Bathrooms,Toilets,NaN,"Chevron Alternative, Lekki, Lagos",4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,"5,000,000",Bedrooms,Bathrooms,Toilets,NaN,"Lekki Phase 1, Lekki, Lagos",5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,"4,000,000",Bedrooms,Bathrooms,Toilets,NaN,"2nd Toll Gate, Lekki Phase 2, Lekki, Lagos",4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,"4,000,000",Bedrooms,Bathrooms,Toilets,3.0,"Ikota Villa Estate, Ikota, Lekki, Lagos",4.0,4.0,5.0

In [39]:
la1 = la1.drop(['Info2', 'Info4', 'Info6', 'Info7'], axis = 'columns')
la1.head()

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,"6,000,000","Brentwood Estate By Meadow Hall., Ikate Eleg...",4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"3,000,000","Chevron Alternative, Lekki, Lagos",4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,"5,000,000","Lekki Phase 1, Lekki, Lagos",5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,"4,000,000","2nd Toll Gate, Lekki Phase 2, Lekki, Lagos",4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,"4,000,000","Ikota Villa Estate, Ikota, Lekki, Lagos",4.0,4.0,5.0

In [40]:
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,"6,000,000","Brentwood Estate By Meadow Hall., Ikate Eleg...",4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,"3,000,000","Chevron Alternative, Lekki, Lagos",4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,"5,000,000","Lekki Phase 1, Lekki, Lagos",5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,"4,000,000","2nd Toll Gate, Lekki Phase 2, Lekki, Lagos",4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,"4,000,000","Ikota Villa Estate, Ikota, Lekki, Lagos",4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,"3,000,000","Spring Bae Estate, Ikate, Lekki, Lagos",4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,"2,000,000","Beechwood Estate Bogije Malete, Bogije, Ibej...",3.0,4.0,4.0
7,Three Bedrooms Terrace,"2,000,000","Idado, Lekki, Lagos",3.0,4.0,NaN
8,4 Bedroom Terrace Available,"3,000,000","Lekki Phase 2, Lekki, Lagos",4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,"2,200,000","Magodo Gra Phase 2, Magodo, Lagos",3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...","5,000,000","Lekki Phase 1, Lekki, Lagos",5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,"3,800,000","Ologolo, Lekki, Lagos",4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,"2,000,000","Atlantic View Estate, Igbo Efon, Lekki, Lagos",3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,"5,200,000","Lekki Phase 1, Lekki, Lagos",5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,"8,500,000","Manbilla Court, Osborne, Ikoyi, Lagos",4.0,4.0,5.0
15,4 Bedroom Semi Detached House With Full Gym An...,"12,000,000","Off Bourdillon, Old Ikoyi, Ikoyi, Lagos",NaN,NaN,NaN
16,Fully Detached 5 Bedrooms Duplex,"3,000,000","Harmony Estate, Ifako, Gbagada, Lagos",5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,"3,500,000","Oral Estate, Lekki, Lekki, Lagos",4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,"3,000,000","Off Lekki Expressway, Ikota, Lekki, Lagos",4.0,4.0,5.0
19,700 Sqm Open Space,"35,000,000","Adeola Odeku Street, Victoria Island (VI), L...",NaN,NaN,NaN
20,Newly Built Luxurious 2 Bedroom Flat,"400,000","Off Ekoro Road, Abule Egba, Agege, Lagos",2.0,2.0,3.0

In [41]:
def splitx(x):
    a = str(x)
    b = x.split(',')
    if len(b) == 2:
        val = b[0] + b[1]
        return val
    if len(b) == 3:
        val = b[0] + b[1] + b[2]
        return val   
    else:
        return b
    return b

In [42]:
splitx('6,000,000')

'6000000'

In [43]:
la1['Price'] = la1['Price'].apply(splitx)
la1.head()

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,"Brentwood Estate By Meadow Hall., Ikate Eleg...",4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,"Chevron Alternative, Lekki, Lagos",4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,"Lekki Phase 1, Lekki, Lagos",5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,"2nd Toll Gate, Lekki Phase 2, Lekki, Lagos",4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,"Ikota Villa Estate, Ikota, Lekki, Lagos",4.0,4.0,5.0

In [44]:
def locate(x):
    a = str(x)
    b = a.split(',')
    index = b.index(' Lagos')
    return b[index-1]

In [45]:
z = 'Â Beechwood Estate Bogije Malete, Bogije, Ibeju Lekki, Lagos'
locate(z)

' Ibeju Lekki'

In [46]:
la1['Location'] = la1['location'].apply(locate)
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3.0,4.0,4.0
7,Three Bedrooms Terrace,2000000,Lekki,3.0,4.0,NaN
8,4 Bedroom Terrace Available,3000000,Lekki,4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,3800000,Lekki,4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,5200000,Lekki,5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4.0,4.0,5.0
15,4 Bedroom Semi Detached House With Full Gym An...,12000000,Ikoyi,NaN,NaN,NaN
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4.0,4.0,5.0
19,700 Sqm Open Space,35000000,Victoria Island (VI),NaN,NaN,NaN
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2.0,2.0,3.0

In [47]:
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3.0,4.0,4.0
7,Three Bedrooms Terrace,2000000,Lekki,3.0,4.0,NaN
8,4 Bedroom Terrace Available,3000000,Lekki,4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,3800000,Lekki,4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,5200000,Lekki,5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4.0,4.0,5.0
15,4 Bedroom Semi Detached House With Full Gym An...,12000000,Ikoyi,NaN,NaN,NaN
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4.0,4.0,5.0
19,700 Sqm Open Space,35000000,Victoria Island (VI),NaN,NaN,NaN
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2.0,2.0,3.0

In [49]:
la1.loc[19, 'location' ] = 'Victoria Island'

In [50]:
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3.0,4.0,4.0
7,Three Bedrooms Terrace,2000000,Lekki,3.0,4.0,NaN
8,4 Bedroom Terrace Available,3000000,Lekki,4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,3800000,Lekki,4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,5200000,Lekki,5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4.0,4.0,5.0
15,4 Bedroom Semi Detached House With Full Gym An...,12000000,Ikoyi,NaN,NaN,NaN
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4.0,4.0,5.0
19,700 Sqm Open Space,35000000,Victoria Island,NaN,NaN,NaN
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2.0,2.0,3.0

In [51]:
la1 = la1.dropna(thresh = 4)
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3.0,4.0,4.0
7,Three Bedrooms Terrace,2000000,Lekki,3.0,4.0,NaN
8,4 Bedroom Terrace Available,3000000,Lekki,4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,3800000,Lekki,4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,5200000,Lekki,5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4.0,4.0,5.0
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4.0,4.0,5.0
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2.0,2.0,3.0

In [52]:
la1.Toilets.fillna(la1.Baths+1, inplace = True)

C:\Users\OzechiSamuel\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [53]:
la1

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4.0,4.0,5.0
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4.0,4.0,5.0
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5.0,6.0,5.0
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4.0,5.0,4.0
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4.0,4.0,5.0
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4.0,4.0,5.0
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3.0,4.0,4.0
7,Three Bedrooms Terrace,2000000,Lekki,3.0,4.0,5.0
8,4 Bedroom Terrace Available,3000000,Lekki,4.0,4.0,5.0
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3.0,3.0,4.0
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5.0,5.0,6.0
11,4 Bedrooms Detached Duplex,3800000,Lekki,4.0,4.0,5.0
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3.0,3.0,4.0
13,5 Bedroom With 2 Bqs,5200000,Lekki,5.0,5.0,4.0
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4.0,4.0,5.0
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5.0,5.0,6.0
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4.0,5.0,5.0
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4.0,4.0,5.0
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2.0,2.0,3.0

In [57]:
type(la1.loc[3, 'Beds'])

numpy.float64

In [58]:
la1[['Beds','Baths', 'Toilets']] = la1[['Beds','Baths', 'Toilets']].astype(int)
la1

C:\Users\OzechiSamuel\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Title,Price,location,Beds,Baths,Toilets
0,Luxuriously And Well Built 4 Bedroom Detached ...,6000000,Lekki,4,4,5
1,Newly Built 24 Hours Servced 4 Bedrooms Duplex,3000000,Lekki,4,4,5
2,Furnished 5 Bedrooms Terrace With Swimming Pool,5000000,Lekki,5,6,5
3,Spacious 4 Bedroom Fully Detached Duplex With Bq,4000000,Lekki,4,5,4
4,Luxury 4 Bedroom Semi Detached Duplex With Bq,4000000,Lekki,4,4,5
5,17hours Serviced 4 Bedrooms Duplex With Bq,3000000,Lekki,4,4,5
6,Brand New 3bedroom Duplex Self Compound Plus 2...,2000000,Ibeju Lekki,3,4,4
7,Three Bedrooms Terrace,2000000,Lekki,3,4,5
8,4 Bedroom Terrace Available,3000000,Lekki,4,4,5
9,3 Bedrooms Terraced Duplex With Lovely Living ...,2200000,Magodo,3,3,4
10,"5 Bedrooms Terrace With Swimming Pool, Party F...",5000000,Lekki,5,5,6
11,4 Bedrooms Detached Duplex,3800000,Lekki,4,4,5
12,Beautiful 3 Bedrooms Terraced Duplex With Bq W...,2000000,Lekki,3,3,4
13,5 Bedroom With 2 Bqs,5200000,Lekki,5,5,4
14,Fully Refurbished Luxury 4 Bedroom Terrace,8500000,Ikoyi,4,4,5
16,Fully Detached 5 Bedrooms Duplex,3000000,Gbagada,5,5,6
17,Luxury 4 & 5 Bedroom Terraced Duplex,3500000,Lekki,4,5,5
18,Newly Built Brand New Tastefully Furnished 4 B...,3000000,Lekki,4,4,5
20,Newly Built Luxurious 2 Bedroom Flat,400000,Agege,2,2,3

In [60]:
la1.to_csv('la1.csv', index = False)